@model Domain.Model.Amigo

@{
    ViewData["Title"] = "Amigo - Detalhes";
}

<h3>Cadastro de Amigo - Detalhes</h3>

<div>
    <h4>Amigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Alterar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
