@model IEnumerable<Domain.Model.Amigo>

@{
    ViewData["Title"] = "Amigos";
}

<h3>Cadastro de Amigos</h3>

<p>
    <a asp-action="Create">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Novo amigo
    </a>
</p>
@if (Model.Count() == 0)
{
    <div class="alert alert-warning" role="alert">
        Nenhum amigo cadastrado
    </div>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            Alterar
                        </a> |
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Detalhes
                        </a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}