@model Domain.Model.Jogo

@{
    ViewData["Title"] = "Jogo - Excluir";
}

<h3>Cadastro de Jogo - Excluir</h3>

<h4>Deseja realmente excluir o cadastro?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produtora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produtora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDeCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDeCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
