@model Domain.Model.Jogo

@{
    ViewData["Title"] = "Jogo - Detalhes";
}

<h3>Cadastro de Jogo - Detalhes</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Produtora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Produtora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDeCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDeCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>


    @if (Model.Emprestimos != null && Model.Emprestimos.Count() > 0)
    {
        <h4>Histórico de empréstimos</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Amigo</th>
                    <th>Emprestado</th>
                    <th>Devolvido</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Emprestimos)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Amigo.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataEmprestimo)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataDevolucao)</td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Alterar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>