@model Domain.Model.Emprestimo

@{
    ViewData["Title"] = "Empréstimo - Excluir";
}

<h3>Empréstimo - Excluir</h3>
<h4>Deseja realmente excluir o registro?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jogo.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amigo.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEmprestimo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </form>
</div>
